USE [master]
GO
/****** Object:  Database [Phone]    Script Date: 7/2/2020 10:43:18 PM ******/
CREATE DATABASE [Phone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'phone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\phone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'phone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\phone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phone]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 7/2/2020 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](50) NULL,
	[Codename] [varchar](50) NULL,
	[MHzTurbo] [varchar](20) NULL,
	[CoreThread] [varchar](5) NULL,
	[Architecture] [varchar](10) NULL,
	[IsBit64] [bit] NULL,
	[Bit32Single] [float] NULL,
	[Bit32Multi] [float] NULL,
	[Bit64Single4] [float] NULL,
	[Bit64Multi4] [float] NULL,
	[Bit64Single5] [float] NULL,
	[Bit64Multi5] [float] NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPU]    Script Date: 7/2/2020 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](50) NULL,
	[Architecture] [varchar](20) NULL,
	[Shaders] [int] NULL,
	[CoreSpeed] [varchar](5) NULL,
	[OpenGL] [varchar](20) NULL,
	[IceStrom] [float] NULL,
	[GFXBench] [float] NULL,
	[OffscreenOGL] [float] NULL,
	[ESOffscreen] [float] NULL,
 CONSTRAINT [PK_GPU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 7/2/2020 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Screen] [varchar](20) NULL,
	[Resolution] [varchar](50) NULL,
	[ScreenSize] [float] NULL,
	[CameraFront] [nvarchar](50) NULL,
	[CameraBack] [nvarchar](50) NULL,
	[OperatingSystem] [varchar](20) NULL,
	[CPU] [int] NULL,
	[GPU] [int] NULL,
	[Battery] [varchar](10) NULL,
 CONSTRAINT [PK_Phone] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_CPU] FOREIGN KEY([CPU])
REFERENCES [dbo].[CPU] ([ID])
GO
ALTER TABLE [dbo].[Phone] CHECK CONSTRAINT [FK_Phone_CPU]
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_GPU] FOREIGN KEY([GPU])
REFERENCES [dbo].[GPU] ([ID])
GO
ALTER TABLE [dbo].[Phone] CHECK CONSTRAINT [FK_Phone_GPU]
GO
USE [master]
GO
